@font-face { font-family: FiraCode; src: url('FiraCode.ttf'); }

* {
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    font-family: FiraCode;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;
}

.help {
    margin: 20px 0;
}

.head {
    width: 96%;
    margin: 20px 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#output {
    font-family: inherit;
    background: none;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    padding: 5px 0;
}

button {
    font-family: inherit;
    background-color: rgb(119, 119, 119);
    border-radius: 8px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.submenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.submenu > * {
    margin: 5px 5px;
}
